<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <File name="myLog" fileName="myLog.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p - %m - %C - %M %n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="myLog"/>
        </Root>
    </Loggers>
</Configuration>