<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>   
        <script src="js/jquery-1.12.4.min.js"></script> 
        <script src="js/functions.js"></script>
        <script src="js/controllersAngular.js"></script>
    </head>
    <body ng-controller="myController">
        <h1>Hello {{usedLogin}}!</h1>
        <a href='helloWorld.html'>Go to Hello world page</a>
        <br/>        
        <div id="div1">
            <form action="loginPage.html" style="display: inline-block">
                <input type="submit" value="Login"/>
            </form>
            <form action="createNewAccount.html" style="display: inline-block">
                <input type="submit" value="Create account"/>
            </form>
            <br/>
        </div>
        <div id="div2">            
            <p><input type="button" value="logout" ng-click="logout()"></p>  
            <textarea ng-model="usedMessage" cols="50" rows="10" ></textarea><br/>
            <input type="submit" value="save" ng-click="updateNote()"/>            
            {{updateNoteResponse}}
        </div>
    </body>
</html>
